<form [formGroup]='cursoForm'>
    <h1>Formulario de Curso</h1>
    <div class="datosCurso" >

        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="nombre">          
        </mat-form-field>
        
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Profesor</mat-label>
                <input matInput type="text" formControlName="profesor">          
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Año</mat-label>
                <input matInput type="int" formControlName="anio">
        </mat-form-field>
        <br>

        <br>
        <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
                <input matInput type="text" formControlName="estado">          
        </mat-form-field>
        <br>
    

        <button mat-raised-button (click)="cargarCurso()">Guardar</button>
        <!-- <button mat-raised-button color="primary">Guardar</button> -->
    </div>
    
</form>
  
